@font-face {
    font-family: ProFontWindows;
    src: url('../assets/fonts/pfw.ttf');
}

@font-face {
    font-family: HUN-din;
    src: url('../assets/fonts/hun.ttf');
}
body {
    margin: 0;
    font-family: ProFontWindows;
    background-color: #121212;
    color: white;
}

.pfp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* insert horizontal navbar here */
ul.navbar {  
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

ul li.navbar {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.back_button {

  }

.projects_button {
  background-color: #4CAF50;
  color: white;
}

.about_me_button {
  background-color: #008CBA;
  color: white;
}

.now_button {
  background-color: #f44336;
  color: black;
}

#button_navbar {
  margin-top: 5px;
  font-family: ProFontWindows;
}

.header {
  padding: 60px;
  text-align: left;
  background:  #0a2c2bdd;
  /* alternative background #143b3a*/
  color: white;
  font-size: 30px;
}

.project {
  background-color: #222222;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}