/*-- how do i make a tetr.io like menu ples hlep --*/

@font-face {
    font-family: HUN-din;
    src: url('../assets/fonts/hun.ttf');
}

.menu-background { 
  background-image: url('../assets/imgs/bg/matthias-heil-T7lMR-syZAg-unsplash.jpg');
  overflow: hidden;
}

.about-button {
background-color: darkcyan;
color:lightcyan;
box-shadow: 3px 3px 3px 3px cyan;
position: absolute;
width: 100%;
left: 50%;
font-family: HUN-din;
padding: 8px;
}

.projects-button {
background-color: green;
color:greenyellow;
box-shadow: 3px 3px 3px 3px lightgreen;
margin-top: 200px;
padding: 50%;
position: absolute;
width: 100%;

left: 50%;
font-family: HUN-din;
padding: 8px;
}

.now-button {
background-color: darkred;
color:red;
box-shadow: 3px 3px 3px 3px maroon;
position: absolute;
margin-top: 400px;
width: 100%;
left: 50%;
font-family: HUN-din;
padding: 8px;
}

#menu-button:hover {
    transform: translateX(-150px);
    background-color: rgb(106, 184, 182);   
    
}

#menu-button:active {
background-color: rgb(215, 255, 255);
}


@media (max-width: 600px) {
    .menu-button {
        font-size: 12px;
        padding: 7px;
    }
}